{% extends 'base.html' %}

{% block main %}

    {% include "header.html" %}

    <div class="container sticky-top">

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white px-0">
                <li class="breadcrumb-item"><a href="/patients">Patienten</a></li>
                <li class="breadcrumb-item"><a href="/patients/{{ patient.id }}">Patient {{ patient.id }}</a></li>
                <li class="breadcrumb-item">EKG {{ ecg.id }}</li>
            </ol>
        </nav>

        <!-- Patienten-Infos -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white px-0">
                <li class="breadcrumb-item">Patient {{ patient.id }}</li>
                <li class="breadcrumb-item">{{ patient.name[0].family }}, {{ patient.name[0].given[0] }}</li>
                <li class="breadcrumb-item">{{ patient.birthDate }}</li>
            </ol>
        </nav>

        <!-- Gewicht, Größe -->
        <p><b>Letzte Körpergröße: </b>{{ height.valueQuantity.value }} {{ height.valueQuantity.unit }}</p>
        <p><b>Letztes Gewicht: </b>{{ weight.valueQuantity.value }} {{ weight.valueQuantity.unit }}</p>
        <p><b>Letzte Aktualisierung: </b>{{ ecg.meta.lastUpdated.strftime("%Y-%m-%d %H:%M:%S") }}</p>

        <!-- EKG Visualisierung-->
        <div style="overflow: scroll;" class="container border">
            <canvas id="myCanvas" width="3100" height="200">
                Your browser does not support the HTML canvas tag.
            </canvas>
        </div>

        <p>Angegebene Beschwerden: <b>KEINE</b></p>
        <p>Auswertung der Apple-Watch: <b>Sinusrhythmus</b></p>

        <!-- Diagnosen -->
        <hr>
        <p>Ärztliche Auswertung:</p>
        <form action="/patients/{{ patient.id }}/ecg/{{ ecg.id }}">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="diagnosis" id="withoutFindings" checked>
                <label class="form-check-label" for="withoutFindings">Ohne Befund</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="diagnosis" id="icd_code">
                <label class="form-check-label" for="icd_code">ICD-10-GM Kodierung:</label>

                <div id="icd_code_area" style="display: block;">
                    <label class="form-label" for="icd_code_text"></label>
                    <input type="text" id="icd_code_text" value="{{ diagnosis }}" class="form-control"/>

                    <label class="form-label" for="icd_code_meaning">Entspricht</label>
                    <input type="text" id="icd_code_meaning" value="Vorhofflimmern" class="form-control" readonly/>
                </div>
            </div>


            <input type="submit" class="btn btn-success btn-block my-4" value="Speichern"/>
        </form>
    </div>

        <script>
            // Ein/Ausblenden der ICD-Codes je nachdem, ob ein entsprechender Haken gesetzt ist
            let toggle_icd_block = function () {
                let icd_area = document.getElementById('icd_code_area');
                let checked = document.getElementById('icd_code').checked;
                if (checked) {
                    icd_area.style.visibility = "visible";
                } else {
                    icd_area.style.visibility = "hidden";
                }
            };

            toggle_icd_block();
            document.getElementById('icd_code').addEventListener("change", toggle_icd_block);
            document.getElementById('withoutFindings').addEventListener("change", toggle_icd_block);
        </script>

        <script>
            let c = document.getElementById("myCanvas");
            let ctx = c.getContext("2d");

            let data = {{ ecg_data }}

            let height = 130;
            c.height = height
            let y_zero = height / 2.0;
            let x = 0;
            let period = 1.953125 / 5.0;
            let y = y_zero;
            let scaling = -100000;
            c.width = period * 15360 + 10

            for (let i = 1; i < 30; i++) {
                ctx.strokeStyle = "rgb(205,207,210)";
                ctx.lineWidth = 1
                ctx.beginPath();
                ctx.moveTo(period*i*15360/30, 0);
                ctx.lineTo(period*i*15360/30, height);
                ctx.closePath();
                ctx.stroke();
            }

            for (let i = 1; i < 5; i++) {
                ctx.strokeStyle = "rgb(205,207,210)";
                ctx.lineWidth = 1
                ctx.beginPath();
                ctx.moveTo(0, 0 - 0.0005*i*scaling);
                ctx.lineTo(period*15360, 0 - 0.0005*i*scaling);
                ctx.closePath();
                ctx.stroke();
            }

            ctx.strokeStyle = "rgb(193,23,18)";
            ctx.lineWidth = 2
            ctx.moveTo(x, y);
            for (element of data) {
                x = x + period;
                y = y_zero + element * scaling;
                ctx.lineTo(x, y);
            }
            ctx.stroke();
        </script>


        {% include "footer.html" %}

{% endblock %}
