{% extends 'base.html' %}

{% block main %}

    <div class="container sticky-top">

        <style>
            @media (min-width: 500px) {
                .container {
                    width: 500px;
                }
        </style>

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white px-0">
                <li class="breadcrumb-item"><a href="/patients">Patienten</a></li>
                <li class="breadcrumb-item"><a href="/patients/{{ patient_id }}">Patient {{ patient_id }}</a></li>
                <li class="breadcrumb-item">Bearbeiten</li>
            </ol>
        </nav>

        <form action="/patients/{{ patient_id }}">
            <!-- Vorname-->
            <div class="form-outline mb-3">
                <label class="form-label" for="first_name">Vorname</label>
                <input type="text" id="first_name" class="form-control" required/>
            </div>

            <!-- Nachname-->
            <div class="form-outline mb-3">
                <label class="form-label" for="last_name">Nachname</label>
                <input type="test" id="last_name" class="form-control" required/>
            </div>

            <!-- E-Mail -->
            <div class="form-outline mb-4">
                <label class="form-label" for="email">E-Mail-Adresse</label>
                <input type="email" id="email" class="form-control" required/>
            </div>

            <!-- E-Mail wiederholen -->
            <div class="form-outline mb-4">
                <label class="form-label" for="email_repeat">E-Mail-Adresse wiederholen</label>
                <input type="email" id="email_repeat" class="form-control"/>
            </div>

            <!-- Telefonnummer -->
            <div class="form-outline mb-4">
                <label class="form-label" for="phone">Telefonnummer</label>
                <input type="tel" id="phone" class="form-control" required/>
            </div>

            <!-- Datenfreigabe-->
            <div class="form-outline mb-4">
                <label class="form-label" for="clearance">Daten freigegeben für:</label>
                <br>
                <select class="select form-control" multiple id="clearance">
                    <option value="123" selected>Praxis Dr. med. Jürgen Fischer</option>
                    <option value="456">Hausärztin Dr. med. Janina Müller</option>
                    <option value="789">Hausarztpraxis Bert Meier</option>
                </select>
            </div>

            <!-- Altes Passwort -->
            <div class="form-outline mb-4">
                <label class="form-label" for="password_old">Passwort</label>
                <input type="password" id="password_old" class="form-control" required/>
            </div>

            <!-- Passwort Neu-->
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Neues Passwort</label>
                <input type="password" id="password" class="form-control"/>
            </div>

            <!-- Passwort Neu wiederholen-->
            <div class="form-outline mb-4">
                <label class="form-label" for="password_repeat">Neues Passwort wiederholen</label>
                <input type="password" id="password_repeat" class="form-control"/>
            </div>

            <input type="submit" class="btn btn-success btn-block mb-4" value="Speichern"/>
        </form>
    </div>

    <script>
        $('select').selectpicker();
    </script>

    {% include "footer.html" %}

{% endblock %}