<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">

      <a class="navbar-brand" href="/patients">
    <img src="{{  url_for('static', filename='img/logo.png') }}" alt="Logo" style="width:40px;">
  </a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
          <span class="navbar-text">{{ username }}</span>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="navbar-text" href="/logout">Abmelden <i class="fa fa-sign-out"></i></a>
      </ul>

  </div>
</nav>