{% extends 'base.html' %}

{% block main %}

    <div class="container sticky-top">

        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white px-0">
                <li class="breadcrumb-item"><a href="/patients">Patienten</a></li>
                <li class="breadcrumb-item"><a href="/patients"></a></li>

            </ol>
        </nav>

        <a type="button" class="btn btn-secondary mb-4" href="/patients/new">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                 viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Patient hinzufügen
        </a>

        <div class="container mx-0 px-0 mb-5">
            <table class="table table-striped table-hover mx-0" id="sortTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Neue Einträge</th>
                    <th>Letzter Eintrag</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/patients/123" class="text-dark">123</a></td>
                    <td><a href="/patients/123" class="text-dark">Wolf</a></td>
                    <td><a href="/patients/123" class="text-dark">Dieter</a></td>
                    <td><a href="/patients/123" class="text-dark">7</a></td>
                    <td><a href="/patients/123" class="text-dark">01.01.2022</a></td>
                </tr>
                <tr>
                    <td><a href="/patients/123" class="text-dark">34q343q4</a></td>
                    <td><a href="/patients/123" class="text-dark">Mustermann</a></td>
                    <td><a href="/patients/123" class="text-dark">Max</a></td>
                    <td><a href="/patients/123" class="text-dark">3</a></td>
                    <td><a href="/patients/123" class="text-dark">01.01.2021</a></td>
                </tr>
                <td><a href="/patients/123" class="text-dark">34q343q4</a></td>
                <td><a href="/patients/123" class="text-dark">Beispiel</a></td>
                <td><a href="/patients/123" class="text-dark">Bob</a></td>
                <td><a href="/patients/123" class="text-dark">1</a></td>
                <td><a href="/patients/123" class="text-dark">03.01.2022</a></td>
                </tr>
                <tr>
                    <td><a href="/patients/123" class="text-dark">9823</a></td>
                    <td><a href="/patients/123" class="text-dark">Musterfrau</a></td>
                    <td><a href="/patients/123" class="text-dark">Maria</a></td>
                    <td><a href="/patients/123" class="text-dark">0</a></td>
                    <td><a href="/patients/123" class="text-dark">18.02.2011</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        // Sortieren
        $('#sortTable').DataTable();

        // Tabellenfelder umbenennen
        $('#sortTable_filter > label')[0].childNodes[0].data = "Suchen";
        $('#sortTable_length > label')[0].childNodes[0].data = "";
        $('#sortTable_length > label')[0].childNodes[2].data = " Einträge pro Seite";
        $('#sortTable_info').empty();
        $("#sortTable_previous > a").text("Vorherige");
        $("#sortTable_next > a").text("Nächste");
        /*
        $(document).click(function() {
          $('#sortTable_info').empty();
        $("#sortTable_previous > a").text("Vorherige");
        $("#sortTable_next > a").text("Nächste");
        });*/

        setInterval(function () {
            $('#sortTable_info').empty();
            $("#sortTable_previous > a").text("Vorherige");
            $("#sortTable_next > a").text("Nächste");
        }, 100);
    </script>

    {% include "footer.html" %}

{% endblock %}